<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../students/students.component.css">
    <title>Document</title>
</head>
<body class="component1">
    <div id="component2">
        <form [formGroup]="Forms">

            <div>
                <input id="input1" placeholder="name" formControlName="name">
            </div>
            <div>
                <input id="input1" type="number" placeholder="age" formControlName="age">
            </div>
            <div>
                <select class="form-select" formControlName="courseID" [compareWith]="compareCourses">
                    <option *ngFor="let course of Courses" [ngValue]="course.id">
                        {{course.name}}
                    </option>
                
                
                </select>
            </div>
            <span *ngFor="let period of periods">
                <input type="radio" formControlName="period" [value]="period" class="ms-2 me-1"/>
                <label style="color: aliceblue;">{{period}}</label>
            
            
            </span>
            <div>
                <input class="form-check-input ms-2" type="checkbox" value="" id="active" formControlName="active"/>
                <label style="color: aliceblue;"> Active</label>
            </div>
            <div>
                <button type="button" id="button1" class="btn btn-primary" (click)="Activate('togglar2')">Add Student</button>
            </div>

            <div>
                <button type="button" id="button2" class="btn btn-outline-success" (click)="Activate('togglar')">Student List</button>
            </div>
            
        
        
        
        </form>

    </div>

    <div id="component3" [ngClass]="{'transition1' : state == 'togglar' , 'transition2' : state != 'togglar'}">
        <div>
            <button id="button3" (click)="Activate('')">
                <i class="bi bi-x-circle">

                </i>
            </button>
        </div>
        <div id="component4">
            <div>
                <div id="component5" *ngFor="let data of Array">
                    <div>
                        ID: {{data.id}} || Nome: {{data.name}}
                    </div>
                        <button id="button5" class="btn btn-success" (click)="Activate('togglar3' , data)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    <div>
                        <button id="button4" class="btn btn-danger" (click)="Activate('togglar4' , data)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
    
                </div>
            </div>
            

        </div>

    </div>

    <div id="component6" [ngClass]="{'transition1' : state == 'togglar3' , 'transition2' : state != 'togglar3'}">
        <div>
            <button id="button3" (click)="Activate('togglar')">
                <i class="bi bi-x-circle">

                </i>
            </button>
        </div>
        <div id="component7">
            <div>
                <div>
                    <p>
                        Student ID: {{Array2.id}}
                    </p>
                </div>
                <div>
                    <p>
                        Name: <input id="input2" [(ngModel)]="newName" [placeholder]="Array2.name" >
                    </p>
                </div>
                <div>
                    <p>
                        Age:  <input id="input2" [(ngModel)]="newAge" [placeholder]="Array2.age" type="number" > 
                    </p>
                </div>
                <button type="button" class="btn btn-outline-success" (click)="Activate('togglar5' , Array2)">Salvar ✏💾</button>
             

                
            </div>


        </div>

    </div>
    
    <div id="component8" [ngClass]="{'transition1' : state == 'togglar4' , 'transition2' : state!= 'togglar4'}">
        <div>
            <div>
                <button id="button3" (click)="Activate('togglar')">
                    <i class="bi bi-x-circle">
                        </i>
                </button>
            </div>
            <!---//TODO Colocar os elementos de aviso de que irá ser deletado-->
            <div id="component9">
                <div class="alert alert-danger" id="alert1" role="alert">
                    The student will be permanently deleted from the list. Are you sure?
                  </div>
                <div>
                    
                      <button type="button"  class="btn btn-outline-danger" (click)="Activate('togglar6')">Yes, i'm sure. Delete</button>
                </div>
                
    
                  
            </div>
        </div>
        
        

    </div>
</body>
</html>
