<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../students/students.component.css">
    <title>Document</title>
</head>
<body class="component1">
    <div id="component2">
        <form [formGroup]="Forms">

            <div>
                <input id="input1" placeholder="name" formControlName="name" [(ngModel)]="newName">
            </div>
            <div>
                <input id="input1" type="number" placeholder="age" formControlName="age">
            </div>
            <div>
                <select class="form-select" formControlName="courseId" [compareWith]="compareCourses" id="select1">
                    <option *ngFor="let course of courses" [ngValue]="course.id">
                        {{course.name}}
                    </option>
                
                
                </select>
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <span *ngFor="let period of periods">
                    <input type="radio" formControlName="period" [value]="period" class="ms-2 me-1"/>
                    <label style="color: aliceblue;">{{period}}</label>
                
                
                </span>
            </div>
            
            <div>
                <input class="form-check-input ms-2" type="checkbox" value="" id="active" formControlName="active"/>
                <label style="color: aliceblue; margin-left: 10px;">Active</label>
            </div>
            <div>
                <button type="button" id="button1" class="btn btn-primary" (click)="Activate('togglar2')">Add Student</button>
            </div>

            <div>
                <button type="button" id="button2" class="btn btn-outline-success" (click)="Activate('togglar')">Student List</button>
            </div>
            
        
        
        
        </form>

    </div>

    <div id="component3" [ngClass]="{'transition1' : state == 'togglar' , 'transition2' : state != 'togglar'}">
        <div>
            <button id="button3" (click)="Activate('')">
                <i class="bi bi-x-circle">

                </i>
            </button>
        </div>
        <div id="component4">
            <div>
                <div id="component5" *ngFor="let data of Students">
                    <div>
                        ID: {{data.id}} || Nome: {{data.name}}
                    </div>
                        <button id="button5" class="btn btn-success" (click)="Activate('togglar3' , data)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    <div>
                        <button id="button4" class="btn btn-danger" (click)="Activate('togglar4' , data)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
    
                </div>
            </div>
            

        </div>

    </div>

    <div id="component6" [ngClass]="{'transition1' : state == 'togglar3' , 'transition2' : state != 'togglar3'}">
        <form [formGroup]="Forms">
            <div>
                <button id="button3" (click)="Activate('togglar')">
                    <i class="bi bi-x-circle">
    
                    </i>
                </button>
            </div>
            <div id="component7">
                <div>
                    <div>
                        <p>
                            Student ID: {{Array?.id}}
                        </p>
                    </div>
                    <div>
                        <p>
                            Name: <input id="input2" [(ngModel)]="newName" [placeholder]="Array?.name" formControlName="name">
                        </p>
                    </div>
                    <div>
                        <p>
                            Age:  <input id="input2" [(ngModel)]="newAge" [placeholder]="Array?.age" type="number" formControlName="age" > 
                        </p>
                    </div>
                    <div>
                        <p>
                            Course: 
                      
                                <select class="form-select"  [(ngModel)]="newCourseId" formControlName="courseId" [compareWith]="compareCourses" id="select1" >
                                
                                    <option *ngFor="let course of courses" [ngValue]="course.id" >
                                        {{course.name}}
                                    </option>
                                
                                
                                </select>
                            
                        </p>
                    </div>
                    <div style="margin-top: 10px; margin-bottom: 10px;">
                        <span *ngFor="let period of periods">
                            <input type="radio" [(ngModel)]="newPeriod" formControlName="period" [value]="period" class="ms-2 me-1"/>
                            <label style="color: rgb(0, 0, 0);" >{{period}}</label>
                        
                        
                        </span>
                    </div>
                    
                    <div>
                        <input class="form-check-input ms-2" type="checkbox" value="" id="active" formControlName="active" [(ngModel)]="newActive" [placeholder]="Array?.active" />
                        <label style="color: rgb(0, 0, 0); margin-left: 10px;">Active</label>
                    </div>
                    <button type="button" class="btn btn-outline-success" (click)="Activate('togglar5' , Array)">Salvar ✏💾</button>
                 
    
                    
                </div>
    
    
            </div>
        </form>

    </div>
    
    <div id="component8" [ngClass]="{'transition1' : state == 'togglar4' , 'transition2' : state!= 'togglar4'}">
        <div>
            <div>
                <button id="button3" (click)="Activate('togglar')">
                    <i class="bi bi-x-circle">
                        </i>
                </button>
            </div>
            <!---//TODO Colocar os elementos de aviso de que irá ser deletado-->
            <div id="component9">
                <div class="alert alert-danger" id="alert1" role="alert">
                    The student will be permanently deleted from the list. Are you sure?
                  </div>
                <div>
                    
                      <button type="button"  class="btn btn-outline-danger" (click)="Activate('togglar6' , Array)">Yes, i'm sure. Delete</button>
                </div>
                
    
                  
            </div>
        </div>
        
        

    </div>
    <div class="alert alert-success alert2" role="alert" id="alert2"  [ngClass]="{'transition1': state2 !== ''  , 'transition2': state2 == ''}">
        {{state2 === 'added_student' ? 'The course has been added successfully! ' : 
                   state2 === 'update_student' ? 'The student has been updated successfully! ' :
                   state2 === 'delete_student'?  'The student has been deleted successfully!' : 
                   state2 === 'student_exists'? 'The student already exists...': 
                   state2 === 'incomplete_form' ? 'The form is incomplete': ''}} 
     </div>
</body>
</html>
