<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../cadastro-produtos2/cadastro-produtos2.component.css">
    <title>Document</title>
</head>
<body>
    <div class="component1">
        <div class="component2">
           <form [formGroup]="Forms"  > 
            <div>
                <input class="input1" id="ID" placeholder="ID" type="number" for="ID" formControlName="ID"   ngbPopover="Coloque o ID do produto! " triggers="mouseenter:mouseleave" >
                <input class="input1" id="nome" placeholder="Nome" type="string" for="nome" formControlName="nome" ngbPopover="Coloque o nome do produto! " triggers="mouseenter:mouseleave" >
                <textarea class="input2" id="descricao" placeholder="Descrição" for="descricao" formControlName="descricao" ngbPopover="Coloque a descrição do produto! " triggers="mouseenter:mouseleave"></textarea>
                <input class="input1" id="preco" placeholder="preço" type="number" for="preco" formControlName="preco" ngbPopover="Coloque o preço do produto! " triggers="mouseenter:mouseleave">
                <input class="input1" id="quantidade" placeholder="Quantidade" type="number" for="quantidade" formControlName="quantidade" ngbPopover="Coloque a quantidade do produto! " triggers="mouseenter:mouseleave">
                <div class="d-grid gap-2"[ngClass]="{'transition1_3' : Array2.length == 5, 'transition2_3': Array2.length < 5}" style="position: fixed;">
                    <button class="btn btn-primary" type="button" id="button" (click)="botao()"  [disabled]="togglar8">Salvar produto 💾</button>
                    
                    
                    
                
                </div> 
                <div class="d-grid gap-2" *ngIf="dados.length > 0 " >
                    <button type="button" class="btn btn-outline-success button3" (click)="consultarLista()" [disabled]="togglar8">Ver a lista de produtos cadastrados</button>
                </div>
                
                
                
                <div id="component4"  [ngClass]="{'transition' : togglar4 , 'transition2': !togglar4}">
                    <div style="display: flex; position: fixed; margin-bottom: 350px;">
                        <i class="bi bi-x-circle button4" (click)="fechar(false)" ></i>
                        
                    </div>

                    
                    <!--<i class="bi bi-x-circle button4" (click)="fechar()" ></i>-->
                    <div class="alert alert-info label2" role="alert">
                        Lista de cadastrados 📜💾
                      </div>


                       
                    
                
                    <div id="component5">
                        <div>
                            <div id="component6" *ngFor="let item of dados"> <!--Modificado aqui para mostrar o array de documento json--> 
                                ID: {{item.ID}} ||
                                Nome: {{item.Nome}}

                                <button id="button6" (click)="editarItem(item)">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button id="button5" (click)="apagarItem(item)">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            
                            </div>  
                        </div>
                        

                    </div>
                
                </div>

                

                
                
                
                  

                <div id="component3" [ngClass]="{'transition' : togglar , 'transition2': !togglar}"> 
                    <div style="margin-bottom: 190px;">
                        <i class="bi bi-x-circle button2" (click)="fechar(false)" ></i>
                        <div class="alert alert-success label" role="alert" *ngIf="togglar2" >
                            Formulário Salvo! 🥳
                            <div>
                                ID do produto: {{Array2[0]}}
                               
                            </div>

                            <div>
                                Nome do produto: {{Array2[1]}}
                            
                            </div>
                            <div>
                                Descrição: {{Array2[2]}}
                          
                            </div>
                            <div>
                                Preço do produto por unidade: {{Array2[3]}}
                           
                            </div>
                            <div>
                                Quantidade: {{Array2[4]}}
                            </div>
                        </div>

                        
                    </div>
               
                </div>


                <div style="position: fixed;" [ngClass]="{'transition': togglar9  , 'transition2': !togglar9}">
                    <div class="alert alert-success label5" role="alert" >
                        o produto {{texto === adicionar_sucesso ? adicionar_sucesso : 
                                    texto === editar_sucesso ? editar_sucesso :
                                    texto === apagar_sucesso?  apagar_sucesso : 
                                    texto === produto_existe? produto_existe: ''}} 
                      </div>
                </div>
                
            
            </div>
        
        
        </form>

        <div id="component7"  [ngClass]="{'transition': togglar5 , 'transition2': !togglar5}">
            <div style="display: flex; position: fixed; margin-bottom: 40px;">
                <i class="bi bi-x-circle button7" (click)="fechar(true)" ></i>           
            </div>
            <div>
                <div class="alert alert-info label3" role="alert" *ngIf="produto">
                    <div>
                        ID do produto: {{produto.ID}}
                  
                    </div>
                    <div>
                        Nome do produto:
                        <input class="input3" [(ngModel)]="novoNome" [placeholder]="produto.nome">
                    </div>
                    <div>
                        Descrição do produto:
                        <input class="input4" [(ngModel)]="novaDescricao" [placeholder]="produto.descricao">
                    </div>
                    <div>
                        Preço do produto:
                        <input class="input5" [(ngModel)]="novoPreco" [placeholder]="produto.preco">
                    </div>
                    <div>
                        Quantidade do produto:
                        <input class="input6" [(ngModel)]="novaQuantidade" [placeholder]="produto.quantidade">
                    </div>
                    <button type="button" class="btn btn-outline-success" (click)="salvarItem(produto)">Salvar ✏💾</button>
                    
                  


                </div>
                
                    

             
   

            </div>
            
   
        </div>

        <div id="component8" [ngClass]="{'transition': togglar8 , 'transition2': !togglar8}">
            <div style="display: flex; position: fixed; margin-bottom: 100px;">
                <i class="bi bi-x-circle button8" (click)="fechar(false)" ></i>
                
            </div>
            <div class="alert alert-danger label4" role="alert">
                Tem certeza? O produto será apagado da lista pra sempre! 
              </div>

            <div style="margin-top: 100px;">
                <button type="button" class="btn btn-outline-danger" (click)="deletarItem(produto2)">Sim, apagar</button>
            </div>
            
            

        </div>


            


        
            
        </div>
    </div>
    
</body>
</html>