<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../students/students.component.css">
    <title>Document</title>
</head>
<body class="component1">
    <div *ngFor="let course of courses">
      <div class="card" style="width: 18rem; margin-left: 10px; height: 400px;" >
        <img [src]="link + course.linkId.link" class="card-img-top" style="height: 200px;" [alt]="course.name"> <!--//TODO needed to put object instead of id -->
        <div class="card-body" >
          <h5 class="card-title"></h5>
          <p class="card-text">Course name: {{course.name}}</p>
          <p class="card-text">Workload: {{course.workload}} hours</p>
          <p class="card-text">Signed students: {{course.numberStudents}}</p>
          <a href="#" class="btn btn-primary">Start course</a>
        </div>
      </div>
    </div>

    
</body>
</html>